* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: #35424a;
    color: rgb(255, 235, 235);
    border-bottom: 3px solid #e8491d;
}

#branding h1 {
    margin: 0px;
    font-size: 25px;
}

.header-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
}

.header-links a {
    text-decoration: none;
    color: rgb(255, 235, 235);
}

.header-links a:hover {
    color: #aaa;
}

.current a {
    color: #e8491d;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 223, 223);
    margin: 5px;
}

/*  HOME-PAGE */

section {
    margin-top: 10vh;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/54517146_238902790255060_9003597486576631808_n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

section h1 {
    text-align: center;
    font-size: 50px;
}

.home-page {
    background-position-y: -100px;
}

/* SERVICES-PAGE */

.services {
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 25px auto;
}

.box-item {
    width: 30%;
    height: 450px;
    padding: 25px;
    border-radius: 5px;
    color: #35424a;
    background-color: rgba(255, 223, 223, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box-item img {
    width: 90%;
    border-radius: 5px;
}

.price {
    background-color: lime;
    border-radius: 3px;
    padding: 5px;
}

/* CONTACT-PAGE */

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 50%;
    height: 410px;
}

.gmap_canvas {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

#contactForm {
    width: 25%;
    height: 410px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 235, 235, 0.5);
    border-radius: 7px;
    padding: 15px;
}

#contactForm h2 {
    color: #35424a;
    text-align: center;
}

#contactForm input {
    margin: 5px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #e8491d;
    background: none;
    outline: none;
    padding-left: 10px;
}

#contactForm textarea {
    margin: 5px;
    padding: 10px;
    outline: none;
    background-color: rgb(255, 235, 235);
    border-radius: 5px;
}

#contactForm button {
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    margin: 5px;
    height: 30px;
    border: none;
    font-size: 1em;
    background-color: #e8491d;
    color: rgb(255, 235, 235);
    transition-duration: .3s;
}

#contactForm button:hover {
    color: white;
    background-color: #35424a;
}

/* NAVBAR & BURGER */

@keyframes navSlide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes navSlideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes navFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-135deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(135deg) translate(-5px, -6px);
}

@media screen and (max-width: 1024px) {
    #branding h1 {
        font-size: 20px;
    }
    .header-links {
        width: 50%;
    }
    /* services */
    .box {
        flex-direction: column;
    }
    .box-item {
        width: 90%;
        margin-top: 25px;
    }
    .box-item img {
        max-width: 100%;
        max-height: 85%;
        object-fit: contain;
    }
    section {
        background-position-x: -120px;
    }
    section h1 {
        font-size: 35px;
        margin-top: 100px;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .navBar-open {
        overflow: hidden;
    }

    .header-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        z-index: 1;
        background-color: #35424a;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        animation: navSlideOut 0s forwards;
    }
    .header-links li:last-of-type {
        margin-bottom: 10vh;
    }
    .header-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .nav-active {
        animation: navSlide 0.5s ease both;
    }
    .nav-off {
        animation: navSlideOut 0.5s ease both;
    }

    .container {
        flex-direction: column;
        padding: 20px 10px;
       
    }

    #contactForm {
        width: 100%;
        margin-bottom: 20px;
    }

    .mapouter {
        width: 100%;
     
    }
}