* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color:transparent;
    scroll-behavior: smooth
}

/* HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: #35424a;
    color: rgb(255, 235, 235);
    border-bottom: 3px solid #e8491d;
}

#branding {
    display: flex;
    justify-items: baseline;
}

header img {
    height: 7vh;
    margin-right: 10px;
    border-radius: 5px;
}

#branding h1 {
    font-size: 25px;
    display: flex;
    align-items: center;
}

#header-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
}

#header-links a {
    text-decoration: none;
    color: rgb(255, 235, 235);
}

#header-links a:hover {
    color: #aaa;
}

.current {
    color: #e8491d !important;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 18px;
    height: 3px;
    background-color: rgb(255, 223, 223);
    margin: 3px;
}

/*  HOME-PAGE */

section {
    margin-top: 10vh;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/54517146_238902790255060_9003597486576631808_n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    color: #35424a;
    background-color: rgba(255, 223, 223, 0.7);
    border-radius: 10px;
    padding: 20px;
}

.main-page h1, #contact-motto h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Brush Script MT";
}

section h1 span{
   color: #e8491d;
   font-family: "Brush Script MT";
   font-weight: 600;
}

/* SERVICES-PAGE */
#services-page {
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 25px auto;
}

.box-item {
    width: 30%;
    height: 450px;
    padding: 25px;
    border-radius: 5px;
    color: #35424a;
    background-color: rgba(255, 223, 223, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box-item img {
    width: 90%;
    border-radius: 5px;
}

.price {
    background-color: rgb(213, 142, 255);
    margin-top: 12px;
    border-radius: 3px;
    padding: 5px;
}

/* CONTACT-PAGE */
#contact-page {
    flex-direction: column;
}

#contact-motto{
    background-color: rgba(255, 223, 223, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    color: #35424a;
    text-align: center;
}

#contact-motto h1 span {
    color: #e8491d;
   font-weight: 800;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: calc(100vh - 10vh - 130px);
    padding-bottom: 60px;
    align-items: center;
}

#contact-details {
    background-color: rgba(255, 235, 235, 0.5);
    border-radius: 7px;
    padding: 15px;
    color: #35424a;
}

#contact-details h4 {
    color: #e8491d;
    margin: 15px auto 5px;
}

#contact-details a {
    text-decoration: none;
}

#contact-logos {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;

}

.logo {
    width: 30px;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.logo:hover {
    transform: scale(1.2);
}

#contactForm {
    width: 25%;
    height: 410px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 235, 235, 0.5);
    border-radius: 7px;
    padding: 15px;
}

#contactForm h2 {
    color: #35424a;
    text-align: center;
}

#contactForm input {
    margin: 5px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #e8491d;
    background: none;
    outline: none;
    padding-left: 10px;
}

#contactForm textarea {
    margin: 5px;
    padding: 10px;
    outline: none;
    background-color: rgb(255, 235, 235);
    border-radius: 5px;
}

#contactForm button {
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    margin: 5px;
    height: 30px;
    border: none;
    font-size: 1em;
    background-color: #e8491d;
    color: rgb(255, 235, 235);
    transition-duration: .3s;
}

.down-arrow {
    align-self: flex-end;
    position: relative;
    bottom: 0;
    width: 75px;
    cursor: pointer;
    transition: bottom ease 0.5s;
}

.down-arrow:hover {
    
    bottom: -20px;
}

#contactForm button:hover {
    color: white;
    background-color: #35424a;
}

.mapouter {
    background-color: rgba(255, 223, 223, 0.7);
    border-radius: 5px;
    position: relative;
    text-align: right;
    width: 80%;
    height: 80vh;
    margin-bottom: 40px;
}

.gmap_canvas {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

/* NAVBAR & BURGER */
@keyframes navSlide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes navSlideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes navFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-135deg) translate(-5px, 6px);
    position: relative;
    top: 2px;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(135deg) translate(-5px, -6px);
    position: relative;
    bottom: 1px;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
    body {
        font-size: small;
    }
    #branding h1 {
        font-size: 20px;
    }
    #header-links {
        width: 50%;
    }

    /* services */
    .box {
        flex-direction: column;
        margin: 0px auto;
    }

    .box:last-child{
        margin-bottom: 20px;
    }

    .box-item {
        width: 90%;
        margin-top: 25px;
    }
    .box-item img {
        max-width: 100%;
        max-height: 85%;
        object-fit: contain;
    }
    section {
        background-position-x: -120px;
    }
    .main-page h1 {
        font-size: 15px;
    }
}


@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
      
    }

    #branding h1 {
        font-size: 15px;
    }

    .main-page {
        width: 100%;
        margin: 10px;
        position: relative;
        bottom: 15vh;
    }

    .navBar-open {
        overflow: hidden;
    }

    #header-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        z-index: 1;
        background-color: #35424a;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        animation: navSlideOut 0s forwards;
    }
    #header-links li:last-of-type {
        margin-bottom: 10vh;
    }
    #header-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .burger div {
        transition: all 0.5s ease;
    }

    .nav-active {
        animation: navSlide 0.5s ease both;
    }
    .nav-off {
        animation: navSlideOut 0.5s ease both;
    }

    .container {
        flex-direction: column;
        padding: 20px 10px;
       
    }

    /* contact */
    #contact-motto {
        margin: 20px;
        margin-bottom: 0px;
    }

    #contact-motto h1 {
        font-size: 18px;
    }

    #contact-details {
        margin-bottom: 20px;
    }
    
    #contactForm {
        width: 100%;
    }

    .mapouter {
        width: 94%;
    }
}