* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    background-color: #35424a;
    color: rgb(255, 235, 235);
    border-bottom: 3px solid #e8491d;
}

#branding {
    display: flex;
    justify-items: baseline;
}

header img {
    height: 7vh;
    margin-right: 10px;
    border-radius: 5px;
}

#branding h1 {
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: default;
}

li {
    display: block;
    transition-duration: 0.5s;
}

a {
    text-decoration: none;
}

#header-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
}

#header-links a {
    text-decoration: none;
    color: rgb(255, 235, 235);
}

#header-links a:hover {
    color: #aaa;
}

#header-links li {
    position: relative;
}

#header-links li ul {
    width: 150px;
    background-color: #35424a;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: -30px;
    display: none;
    border-radius: 3px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#header-links li ul li:first-child {
    padding-top: 50px;
}

#header-links li ul li {
    clear: both;
    width: 100%;
    text-align: center;
    padding: 15px;
}

#header-links li:hover>ul, #header-links li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

#header-links li ul li {
    clear: both;
    width: 100%;
}

.current {
    color: #e8491d !important;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 18px;
    height: 3px;
    background-color: rgb(255, 223, 223);
    margin: 3px;
}

section {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, rgba(245, 214, 226, 0.1) 0%, rgba(248, 171, 201, 0.5) 74%), url(../img/wellness-1382476_1920.jpg) ;
    background-position: center bottom;
    background-size: cover;
}

/*  HOME-PAGE */
#home-page{
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 100px
}

.main-page {
    display: flex;
    position: relative;
    width: 65%;
    align-items: center;
    color: #35424a;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(218, 146, 146, 0.3);
    box-shadow: 10px 10px 5px 0px rgba(53,66,74,0.75);
}

.main-page h1, #contact-motto h1 {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px #CE5937;
    font-family: 'Lobster Two', cursive;
    cursor: default;
}

section h1 span {
    color: #e8491d;
    font-family: 'Lobster Two', cursive;
    font-weight: 800;
    cursor: default;
    text-shadow: 1px 1px 2px #35424a;
}

.testimonials-section {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-self: flex-end;
    padding-right: 40px;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 45%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgba(218, 146, 146, 0.5);
    box-shadow: 10px 10px 5px 0px rgba(53,66,74,0.75);
}

.testimonial a p{
    color: #35424a;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 2px #CE5937;
}

.testimonial a:hover {
    opacity: 0.9;
}

.testimonial p {
    font-family: 'Pacifico', cursive;
    text-align: justify;
}

.testimonial p img {
    float: left;
    max-width: 100px;
    margin-right: 8px;
    margin-top: 10px;
    border-radius: 50%;
}

/* SERVICES-PAGE */

.service-type {
    padding: 20px;
    margin: 20px auto 0;
    color: #e8491d;
    text-align: center;
    text-shadow: 2px 2px 2px #35424A;
    cursor: default;
    width: 100%;
    background-color: rgba(218, 146, 146, 0.3);
    box-shadow: 10px 10px 5px 0px rgba(53,66,74,0.75);
}

.service-type h1 {
    font-size: 30px;
    font-weight: 800;
    display: block;
}

#services-page {
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 25px auto;
}

.box:last-of-type {
    padding-bottom: 20px;
}

.box-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 470px;
    padding: 20px;
    margin: auto 20px;
    border-radius: 5px;
    color: #35424a;
    background-color: rgba(218, 146, 146, 0.3);
    box-shadow: 10px 10px 5px 0px rgba(53,66,74,0.75);
  
}

.box-item img {
    max-width: 100%;
    max-height: 75%;
    border-radius: 5px;
    cursor: pointer;
}

.box-item img:hover {
    opacity: 0.9;
}

.box-item h2 {
    cursor: default;
    text-align: center;
}

.box-item p {
    margin-top: 10px;
    cursor: default;
}

.price {
    background-color: rgb(213, 142, 255);
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #35424a;
    padding: 5px;
    cursor: default;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top:10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: block;
    margin: auto;
    object-fit: contain;
    max-width: 85%;
    max-height: 90%;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0 0;
}

/* Modal Animation */

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Modal Close Button */
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* CONTACT-PAGE */

#contact-page {
    flex-direction: column;
}

#contact-motto {
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    color: #35424a;
    background-color: rgba(218, 146, 146, 0.3);
    box-shadow: 10px 10px 5px 0px rgba(53,66,74,0.75);
}

#contact-motto h1 span {
    color: #e8491d;
    font-weight: 800;
    cursor: default;
    text-shadow: 1px 1px 2px #35424a;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: calc(100vh - 10vh - 90px);
    padding-bottom: 60px;
    align-items: center;
}

.container:last-of-type {
    min-height: calc(100vh - 10vh);
    justify-content: space-around;
    padding-bottom:0;
}

#contact-details {
    border-radius: 7px;
    padding: 15px;
    color: #35424a;
    background-color: rgba(218, 146, 146, 0.4);
    box-shadow: 10px 10px 5px 0px rgba(53,66,74,0.75);
}

#contact-details h4 {
    color: #e8491d;
    margin: 15px auto 5px;
    cursor: default;
}

#contact-details p {
    cursor: default;
}

#contact-details a {
    text-decoration: none;
}

#contact-logos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icon {
    width: 20px;
    margin-right: 10px;
}

.consultation {
    margin-left: 2px;
    margin-right: 12px;
}

.logo {
    width: 30px;
    transition-duration: 0.3s;
    margin-left: 20px;
    margin-right: 20px;
}

.logo:hover {
    transform: scale(1.2);
}

#contactForm {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    padding: 15px;
    background-color: rgba(218, 146, 146, 0.4);
    box-shadow: 10px 10px 5px 0px rgba(53,66,74,0.75);
}

#contactForm h2 {
    color: #35424a;
    text-shadow: 1px 1px 2px #35424a;
    text-align: center;
    cursor: default;
    margin-bottom: 20px;
}

#contactForm input {
    margin: 5px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #e8491d;
    background: none;
    outline: none;
    padding-left: 10px;
}

#contactForm textarea {
    margin: 5px;
    padding: 10px;
    outline: none;
    background-color: rgb(255, 235, 235);
    border-radius: 5px;
}

#contactForm button {
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    margin: 20px 5px 10px;
    height: 30px;
    border: none;
    font-size: 1em;
    background-color: #e8491d;
    color: rgb(255, 235, 235);
    transition-duration: .3s;
}

.down-arrow {
    align-self: flex-end;
    position: relative;
    bottom: 0;
    width: 75px;
    opacity: 0.8;
    cursor: pointer;
    transition: bottom ease 0.5s;
}

.down-arrow:hover {
    bottom: -10px;
}

.up-arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 75px;
    opacity: 0.8;
    cursor: pointer;
    transition: bottom ease 0.5s;
    transform: rotate(180deg);
 
}

.up-arrow:hover {
    bottom: 30px;
}

#contactForm button:hover {
    color: white;
    background-color: #35424a;
}

.contact-bottom {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.mapouter {
    background-color: rgba(255, 223, 223, 0.6);
    box-shadow: 10px 10px 5px 0px rgba(53,66,74,0.75);
    border-radius: 5px;
    position: relative;
    width: 60%;
    height: 78vh;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 35px
}

.gmap_canvas {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

#neli {
    max-height: 78vh;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* NAVBAR & BURGER */

@keyframes navSlide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes navSlideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes navFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-135deg) translate(-5px, 6px);
    position: relative;
    top: 2px;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(135deg) translate(-5px, -6px);
    position: relative;
    bottom: 1px;
}

/* RESPONSIVE */

@media screen and (max-width: 1024px) {
    body {
        font-size: small;
    }
    #branding h1 {
        font-size: 20px;
    }
    #header-links {
        width: 50%;
    }
    /* background */
    #home-page {
        background-position:left bottom;
        padding-top: 10px;
        padding-bottom: 30px;
        max-height: 90vh;
    }
    
    .main-page h1 {
        font-size: 17px;
    }

    .testimonials-section {
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding-right: 0;
    }

    .testimonial {
        display: flex;
        width: 80%;
        font-size: 15px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .testimonial p img {
        width: 50px;
        margin-top: 3px;
        margin-bottom: 0px;
    }

    /* services */
    .box {
        flex-direction: column;
        margin: 0px auto;
    }
    .box:last-child {
        margin-bottom: 20px;
    }
    .box-item {
        width: 90%;
        margin-top: 25px;
    }
    .box-item img {
        /* width: 100%; */
        /* max-height: 85%; */
        /* object-fit: contain; */
    }
    .modal-content {
        width: 100%;
    }
    /* contact */
    #contact-motto {
        margin: 20px;
        margin-bottom: 0px;
    }
    #contact-motto h1 {
        font-size: 25px;
    }
    #contact-details {
        margin-bottom: 20px;
    }
    #contactForm, #contact-details {
        width: 100%;
    }
    .contact-bottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mapouter {
        width: calc(100% - 10px);
        margin: auto;
    }
    .container:last-of-type {
        padding: 0 auto;
    }
   
    .up-arrow, .down-arrow {
        display: none;
    }

    #neli {
        max-height: 90vh;
       margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    #branding h1 {
        font-size: 15px;
    }
    .main-page {
        width: 80%;
        margin: 10px;
    }
    .navBar-open {
        overflow: hidden;
    }
    #header-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        z-index: 1;
        background-color: #35424a;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        animation: navSlideOut 0s forwards;
    }
    #header-links li:last-of-type {
        margin-bottom: 10vh;
    }
    #header-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .burger div {
        transition: all 0.5s ease;
    }
    .nav-active {
        animation: navSlide 0.5s ease both;
    }
    .nav-off {
        animation: navSlideOut 0.5s ease both;
    }
    .container {
        flex-direction: column;
        padding: 20px 10px;
    }    
}